body {
    background-image: url(../images/bg/org/title-shadow.png);
    background-position: center 60px;
    background-repeat: no-repeat;
}
body > header:first-child {
    background-image: url(../images/bg/org/title.jpg);
}
@media screen and (max-width:800px) {
    body {
        background-image: none;
    }
    body > header:first-child > section:first-child > h1 + ul {
        background-image: url(../images/bg/title-menu.jpg);
    }
}
body > main + footer,
body > section + footer,
body > script + footer {
    background-image: url(../images/bg/org/bottom.jpg);
}
