body {
    color: #DDD;
    font-family: 'Segoe UI', 'Microsoft Yahei', 'Microsoft JhengHei', Tahoma, "Helvetica Neue", Arial, Geneva, Verdana, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    background-image: url(https://cdn.jsdelivr.net/npm/hje@2.2.0/docs/images/bg/org/title-shadow.png);
    background-position: center 60px;
    background-repeat: no-repeat;
    background-color: #222;
    padding: 0;
    margin: 0;
}
a, a:visited {
    color: #6DF;
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    color: #9EF;
    text-decoration: underline;
}
a:active {
    color: #8CE;
    text-decoration: underline;
}
code, code a, code span, span.x-part-code {
    font-family: "Cascadia Code", "Consolas", "Segoe UI", "Microsoft Yahei", "Microsoft JhengHei", monospace, "Tahoma", "Helvetica Neue", "Arial", "Geneva", "Verdana", sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}
body > header > section, body > footer > section {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: content-box;
    position: relative;
}
body > section > section a, body > section > section a:visited {
    transition: 0.4s;
}
body > section > section a:active, body > section > section a:hover {
    transition: 0.1s;
}
body > section, body > main, body > header, body > footer {
    padding: 0 20px;
}
input[type=checkbox] {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #999;
    border-radius: 4px;
    background-color: rgba(128, 128, 128, 0.1);
    background-image: url(https://cdn.jsdelivr.net/npm/hje@2.2.0/docs/images/ele/check_mark_white.png);
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: left 16px center;
    vertical-align: middle;
    transition: 0.2s;
}
input[type=checkbox]:hover {
    border-color: #EEE;
}
input[type=checkbox]:checked {
    border-color: #6DF;
    background-color: #6DF;
    background-position: center center;
}
input[type=checkbox]:checked:hover {
    border-color: rgba(255, 255, 255, 0.9);
}

/* Header */
body > header:first-child {
    height: 60px;
    background-color: #333;
    background-image: url(https://cdn.jsdelivr.net/npm/hje@2.2.0/docs/images/bg/org/title.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    white-space: nowrap;
}
body > header:first-child > section:first-child {
    height: 60px;
    line-height: 60px;
    padding: 0;
    margin: 0 auto;
}
body > header:first-child > section:first-child > h1 {
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    width: 120px;
    height: 60px;
    line-height: 60px;
    padding: 0;
    margin: 0 80px 0 0;
    display: inline-block;
    vertical-align: top;
    user-select: none;
}
body > header:first-child > section:first-child > h1 > a:first-child > strong:first-child + span {
    font-weight: lighter;
}
body > header:first-child > section:first-child > h1 + ul {
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 60px;
    height: 60px;
    max-width: 560px;
    padding: 4px 0;
    margin: 0;
    display: inline-block;
    list-style: none;
    white-space: nowrap;
    overflow: hidden;
    user-select: none;
}
body > header:first-child > section:first-child > h1 + ul > li {
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    height: 52px;
    padding: 0;
    margin: 0;
    display: inline-block;
    list-style: none;
    vertical-align: top;
}
body > header:first-child > section:first-child a,
body > header:first-child > section:first-child a:visited {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    transition: 0.6s;
    text-shadow: rgba(0, 0, 0, 0.7) 0 0 2px;
}
body > header:first-child > section:first-child > h1 + ul > li > a,
body > header:first-child > section:first-child > h1 + ul > li > a:visited {
    line-height: 50px;
    padding: 0 15px;
    margin: 0;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 4px;
    display: inline-block;
    vertical-align: top;
}
body > header:first-child > section:first-child > h1 + ul > li.state-sel > a,
body > header:first-child > section:first-child > h1 + ul > li.state-sel > a:visited {
    color: #EEE;
    background-color: rgba(0, 0, 0, 0.4);
    text-shadow: rgba(192, 240, 255, 0.6) 0 0 10px;
}
body > header:first-child > section:first-child a:hover {
    color: #9EF;
    text-decoration: underline dashed;
    transition: 0.1s;
}
body > header:first-child > section:first-child a:active {
    color: #8CE;
    text-decoration: underline dotted;
    transition: 0.1s;
}
body > header:first-child + header {
    height: 80px;
}
@media screen and (max-width:800px) {
    body {
        background-image: none;
    }
    body > header:first-child {
        height: 110px;
        padding: 0;
    }
    body > header:first-child > section:first-child > h1 {
        padding: 0 20px;
        display: block;
    }
    body > header:first-child > section:first-child > h1 + ul {
        background-image: url(https://cdn.jsdelivr.net/npm/hje@2.2.0/docs/images/bg/title-menu.jpg);
        background-repeat: repeat-x;
        height: 50px;
        max-width: none;
        padding: 0 10px;
        display: block;
        overflow-x: overlay;
        scrollbar-color: rgba(128, 128, 128, 0.2) transparent;
    }
    body > header:first-child > section:first-child > h1 + ul > li > a,
    body > header:first-child > section:first-child > h1 + ul > li > a:visited {
        line-height: 44px;
        padding: 0 9px 3px 9px;
        margin: 2px 0 0 0;
        border-radius: 8px 8px 0 0;
    }
    body > header:first-child > section:first-child > h1 + ul > li.state-sel > a,
    body > header:first-child > section:first-child > h1 + ul > li.state-sel > a:visited {
        background-color: #222;
        border-color: #393939 #363636 #222222 #363636;
    }
}

/* Footer */
body > main + footer,
body > section + footer,
body > script + footer {
    height: 340px;
    margin: 0;
    background-color: #333;
    background-image: url(https://cdn.jsdelivr.net/npm/hje@2.2.0/docs/images/bg/org/bottom.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
body > footer > section > div.x-copyright {
    width: 275px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 60px;
    left: 0;
    user-select: none;
}
body > footer > section > div.x-copyright > img:first-child {
    background-color: #CCC;
    width: 275px;
    height: 40px;
    padding: 4px 0;
    border-radius: 4px;
    display: block;
}
body > footer > section > div.x-copyright > img:first-child + span {
    line-height: 22px;
    text-align: center;
    height: 22px;
    padding-right: 1px;
    display: block;
    cursor: default;
}

/* Body */
body > main,
body > section > section,
body > section > main,
body > section > h1,
body > section > h2,
body > section > h3,
body > section > h4,
body > section > section.layout-wide-full > section,
body > section > section.layout-wide-full > main,
body > section > section.layout-wide-full > h1,
body > section > section.layout-wide-full > h2,
body > section > section.layout-wide-full > h3,
body > section > section.layout-wide-full > h4 {
    max-width: 1200px;
    margin: 20px auto;
    position: relative;
    box-sizing: content-box;
}
body > section > section.layout-wide-full {
    max-width: none;
    margin: 0 -20px;
}
body > section > section,
body > section > h1,
body > section > h2,
body > section > h3,
body > section > h4,
body > section > section.layout-wide-full > section,
body > section > section.layout-wide-full > h1,
body > section > section.layout-wide-full > h2,
body > section > section.layout-wide-full > h3,
body > section > section.layout-wide-full > h4 {
    padding: 0;
}
body > section > h1,
body > section > h2,
body > section > h3,
body > section > h4,
body > section > section.layout-wide-full > h1,
body > section > section.layout-wide-full > h2,
body > section > section.layout-wide-full > h3,
body > section > section.layout-wide-full > h4
{
    cursor: default;
    user-select: none;
}
body > section > h1,
body > section > h2 {
    color: #D3D3D3;
    font-weight: 200;
}
body > section > section,
body > section > h3,
body > section > h4 {
    font-weight: normal;
}
body > section > h1,
body > section > section > h1 {
    font-size: 24px;
    line-height: 32px;
}
body > section > h2,
body > section > section > h2 {
    font-size: 20px;
    line-height: 28px;
}
body > section > h3 {
    font-size: 16px;
    font-weight: bolder;
    font-style: normal;
    line-height: 30px;
    margin: 0;
}
body > section > section > h3 {
    font-size: 18px;
    line-height: 24px;
}
body > section > h3 > svg,
body > section > h3 > span,
body > section > h3 > a {
    vertical-align: middle;
}
body > section > h4,
body > section > section > h4 {
    font-size: 16px;
    line-height: 24px;
}
body > section > ul,
body > section > ul > li {
    background-color: transparent;
}
section.x-bg-motley, div.x-bg-motley {
    background-image: url(https://cdn.jsdelivr.net/npm/hje@2.2.0/docs/images/bg/jc/motley_222.jpg);
    background-repeat: repeat;
    background-position: top center;
}
section.x-bg-stars, div.x-bg-stars {
    background-image: url(https://cdn.jsdelivr.net/npm/hje@2.2.0/docs/images/bg/jc/star_plus.jpg);
    background-repeat: repeat;
    background-position: top center;
}
section.x-bg-motley-light, div.x-bg-motley-light {
    background-image: url(https://cdn.jsdelivr.net/npm/hje@2.2.0/docs/images/bg/jc/motley_333.jpg);
    background-repeat: repeat;
    background-position: top center;
}
.x-font-size-xxs {
    font-size: 10px;
}
.x-font-size-xs {
    font-size: 11px;
}
.x-font-size-s {
    font-size: 12px;
}
.x-font-size-m {
    font-size: 14px;
}
.x-font-size-l {
    font-size: 16px;
}
.x-font-size-xl {
    font-size: 18px;
}
.x-font-size-xxl {
    font-size: 20px;
}
.x-font-size-xxxl {
    font-size: 24px;
}

/* Links */
a.x-link-more > span:last-child, a.x-link-more:visited > span:last-child {
    padding-right: 20px;
    background-image: url(https://cdn.jsdelivr.net/npm/hje@2.2.0/docs/images/ele/right_pos_gray.png);
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: right 2px center;
    display: inline-block;
    transition: 0.2s;
}
a.x-link-more:hover > span:last-child {
    background-size: 12px;
    background-position: right 0 center;
}
a.x-link-more:active > span:last-child {
    background-size: 10px;
    background-position: right 2px center;
}
a.link-tile-wide, a.link-tile-wide:visited,
a.link-long-button, a.link-long-button:visited,
a.link-button-normal, a.link-button-normal:visited,
section.link-tile-wide > a, section.link-tile-wide > a:visited,
button.link-button-normal, button.link-button-normal:visited {
    color: #CCC;
    text-decoration: none;
    background-color: rgba(128, 128, 128, 0.06);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(128, 128, 128, 0.16) rgba(128, 128, 128, 0.08) rgba(128, 128, 128, 0.08) rgba(128, 128, 128, 0.08);
    border-radius: 4px;
    cursor: pointer;
    transition: 0.4s;
}
section.x-bg-texture a.link-tile-wide,
section.x-bg-texture a.link-long-button,
section.x-bg-texture section.link-tile-wide > a {
    backdrop-filter: blur(4px);
}
a.link-tile-wide:hover, a.link-long-button:hover, a.link-button-normal:hover,
section.link-tile-wide > a:hover, button.link-button-normal:hover {
    color: #EEE;
    text-decoration: none;
    background-color: rgba(128, 128, 128, 0.2);
    border-width: 1px;
    border-color: rgba(128, 128, 128, 0.4) rgba(128, 128, 128, 0.3) rgba(128, 128, 128, 0.3) rgba(128, 128, 128, 0.3);
    box-shadow: #111 1px 1px 4px;
    transition: 0.1s;
}
a.link-tile-wide:active, a.link-long-button:active, a.link-button-normal:active,
section.link-tile-wide > a:active, button.link-button-normal:active {
    color: #9EF;
    background-color: rgba(128, 128, 128, 0.08);
    text-decoration: none;
    border-width: 1px;
    border-color: rgba(128, 128, 128, 0.2) rgba(128, 128, 128, 0.2) rgba(128, 128, 128, 0.3) rgba(128, 128, 128, 0.2);
    box-shadow: #111 0 0 4px;
    transition: 0.1s;
}
a.link-tile-wide:focus-visible, a.link-long-button:focus-visible, a.link-button-normal:focus-visible,
section.link-tile-wide > a:focus-visible, button.link-button-normal:focus-visible {
    outline: 2px solid rgba(102, 221, 255, 0.7);
    outline-offset: 1px;
    transition: 0.1s;
}
a.link-tile-wide, a.link-tile-wide:visited, section.link-tile-wide > a, section.link-tile-wide > a:visited {
    font-size: 18px;
    line-height: 24px;
    padding: 24px;
    margin: 0 4px 4px 0;
}
a.link-tile-wide, a.link-tile-wide:visited {
    width: 190px;
    margin: 0 4px 4px 0;
    display: inline-block;
}
section.link-tile-wide > a, section.link-tile-wide > a:visited {
    width: auto;
    margin: 0;
    display: block;
}
a.link-tile-wide:hover, section.link-tile-wide > a:hover {
    padding: 22px 24px 26px 24px;
}
a.link-tile-wide:active, section.link-tile-wide > a:active {
    padding: 24px;
}
a.link-tile-wide > img, section.link-tile-wide > a > img {
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0 8px 0 0;
    vertical-align: middle;
    display: inline-block;
}
a.link-tile-wide > svg, a.link-tile-wide:visited > svg,
section.link-tile-wide > a > svg, section.link-tile-wide > a:visited > svg {
    fill: #CCC;
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0 8px 0 0;
    vertical-align: middle;
    display: inline-block;
}
a.link-tile-wide:hover > svg, section.link-tile-wide > a:hover > svg {
    fill: #EEE;
}
a.link-tile-wide:active > svg, section.link-tile-wide > a:active > svg {
    fill: #9EF;
}
a.link-tile-wide > span, section.link-tile-wide > a > span {
    line-height: 24px;
    vertical-align: middle;
    display: inline-block;
}
section.link-tile-wide {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 4px;
    column-gap: 4px;
}
a.link-tile-wide.grouping-more, a.grouping-more:visited,
section.link-tile-wide > a.grouping-more,
section.link-tile-wide > a.grouping-more:visited {
    width: 80px;
    text-align: center; 
}
a.link-button-normal, a.link-button-normal:visited,
button.link-button-normal, button.link-button-normal:visited {
    padding: 7px 15px;
    display: inline-block;
}
a.link-long-button, a.link-long-button:visited {
    font-size: 18px;
    line-height: 20px;
    padding: 24px;
    margin: 0 0 8px 0;
    display: block;
}
a.link-long-button:hover {
    padding: 22px 24px 26px 24px;
}
a.link-long-button:active {
    padding: 24px;
}
a.link-long-button > img {
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0 8px 0 0;
    vertical-align: middle;
    display: inline-block;
}
a.link-long-button > svg, a.link-long-button:visited > svg {
    fill: #CCC;
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0 8px 0 0;
    vertical-align: middle;
    display: inline-block;
}
a.link-long-button:hover > svg {
    fill: #EEE;
}
a.link-long-button:active > svg {
    fill: #9EF;
}
a.link-long-button > span {
    line-height: 24px;
    vertical-align: middle;
    display: inline-block;
}
a.link-long-button > span > span, a.link-long-button > span > span + span,
a.link-tile-wide > span > span, a.link-tile-wide > span > span + span,
a.link-long-button > span > br + span, a.link-tile-wide > span > br + span,
section.link-tile-wide > a > span > span, section.link-tile-wide > a > span > span + span {
    color: #888;
    font-size: 16px;
    transition: 0.2s;
}
ul.link-tile-compact > li > a > span > span,
ul.link-tile-compact > li > a > span > time,
ul.link-tile-compact > li > a > span + span,
ul.link-tile-compact > li > a > time + span,
ul.link-tile-compact > li > a > span + time,
ul.link-tile-compact > li > a > br + span,
ul.link-tile-compact > li > a > br + time {
    color: #888;
    font-size: 14px;
    transition: 0.2s;
}
ul.link-tile-compact > li > a > span > span.x-font-size-s,
ul.link-tile-compact > li > a > span > time.x-font-size-s,
ul.link-tile-compact > li > a > span.x-font-size-s,
ul.link-tile-compact > li > a > time.x-font-size-s {
    font-size: 12px;
}
ul.link-tile-compact > li > a > span > span.x-font-size-m,
ul.link-tile-compact > li > a > span > time.x-font-size-m,
ul.link-tile-compact > li > a > span.x-font-size-m,
ul.link-tile-compact > li > a > time.x-font-size-m {
    font-size: 14px;
}
ul.link-tile-compact > li > a > span > span.x-font-size-l,
ul.link-tile-compact > li > a > span > time.x-font-size-l,
ul.link-tile-compact > li > a > span.x-font-size-l,
ul.link-tile-compact > li > a > time.x-font-size-l {
    font-size: 16px;
}
ul.link-tile-compact > li > a > span > span.x-font-size-xl,
ul.link-tile-compact > li > a > span > time.x-font-size-xl,
ul.link-tile-compact > li > a > span.x-font-size-xl,
ul.link-tile-compact > li > a > time.x-font-size-xl {
    font-size: 18px;
}
a.link-long-button > span > span + span, a.link-tile-wide > span > span + span,
section.link-tile-wide > a > span > span + span, ul.link-tile-compact > li > a > span + span {
    margin-left: 16px;
}
a.link-long-button:hover > span > span, a.link-long-button:hover > span > span + span,
a.link-tile-wide:hover > span > span, a.link-tile-wide:hover > span > span + span,
section.link-tile-wide > a:hover > span > span, section.link-tile-wide > a:hover > span > span + span
ul.link-tile-compact > li > a:hover > span > span, ul.link-tile-compact > li > a:hover > span + span {
    color: #999;
}
@media screen and (max-width:1030px) {
    section.link-tile-wide {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 4px;
    }
}
@media screen and (max-width:800px) {
    section.link-tile-wide {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 4px;
    }
}
@media screen and (max-width:600px) {
    a.link-tile-wide, a.link-tile-wide:visited {
        width: auto;
        margin: 0 0 4px 0;
        display: block;
    }
    section.link-tile-wide {
        grid-template-columns: 1fr;
        column-gap: 0;
    }
    a.link-tile-wide.grouping-more, a.link-tile-wide.grouping-more:visited,
    section.link-tile-wide > a.grouping-more,
    section.link-tile-wide > a.grouping-more:visited {
        padding: 16px;
    }
    a.link-tile-wide.grouping-more:hover,
    section.link-tile-wide > a.grouping-more:hover {
        padding: 14px 16px 18px 16px;
    }
    a.link-tile-wide.grouping-more:active,
    section.link-tile-wide > a.grouping-more:active {
        padding: 16px;
    }
}

/* Link list */
ul.link-tile-compact {
    padding: 0;
    margin: 0;
    float: none;
}
ul.link-tile-compact > li {
    font-size: 16px;
    padding: 0;
    margin: 4px 0;
}
ul.link-tile-compact > li.grouping-header {
    color: #999;
    padding: 0 20px;
    cursor: default;
    user-select: none;
}
ul.link-tile-compact > li + li.grouping-header {
    padding-top: 20px;
}
ul.link-tile-compact > li > a, ul.link-tile-compact > li > a:visited {
    color: #CCC;
    line-height: 24px;
    background-color: rgba(128, 128, 128, 0.06);
    padding: 7px 19px;
    margin: 0;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(128, 128, 128, 0.16) rgba(128, 128, 128, 0.08) rgba(128, 128, 128, 0.08) rgba(128, 128, 128, 0.08);
    border-radius: 4px;
    border-radius: 4px;
    display: block;
    transition: 0.6s;
}
ul.link-tile-compact > li.state-sel > a, ul.link-tile-compact > li.state-sel > a:visited {
    font-weight: bolder;
    background-color: rgba(128, 128, 128, 0.02);
    border-color: rgba(128, 128, 128, 0.5);
}
ul.link-tile-compact > li > a:hover, ul.link-tile-compact > li.state-sel > a:hover {
    color: #9EF;
    background-color: rgba(128, 128, 128, 0.2);
    padding: 7px 17px;
    border-color: rgba(128, 128, 128, 0.4);
    text-decoration: none;
    transition: 0.1s;
    box-shadow: #111 1px 1px 4px;
}
ul.link-tile-compact > li > a:active, ul.link-tile-compact > li.state-sel > a:hover {
    color: #8CE;
    background-color: rgba(128, 128, 128, 0.08);
    padding: 7px 19px;
    border-color: rgba(128, 128, 128, 0.2) rgba(128, 128, 128, 0.2) rgba(128, 128, 128, 0.3) rgba(128, 128, 128, 0.2);
    text-decoration: none;
    transition: 0.1s;
    box-shadow: #111 0 0 4px;
}
ul.link-tile-compact > li.state-sel > a > span > span, ul.link-tile-compact > li.state-sel > a > span + span {
    font-weight: normal;
}
div.placeholder-after-loading {
    line-height: 20px;
}
div.placeholder-after-loading:first-child > span::after {
    color: #888; font-size: 12px; content: "Loading…"
}

/* Blog links*/
ul.link-item-blog {
    padding: 0; margin: 0; list-style: none;
}
ul.link-item-blog > li {
    padding: 0; margin: 0 0 8px 0; list-style: none;
}
ul.link-item-blog > li.grouping-header {
    color: #999; padding-left: 20px; cursor: default; user-select: none;
}
ul.link-item-blog > li > a {
    padding: 0; margin: 0 0 10px 0; display: block; border-radius: 4px; overflow: hidden; position: relative;
}
ul.link-item-blog > li > a, ul.link-item-blog > li > a:visited, ul.link-item-blog > li > a:hover, ul.link-item-blog > li > a:active {
    text-decoration: none;
}
ul.link-item-blog > li > a:link, ul.link-item-blog > li > a:visited {
    color: #888; transition: 0.6s;
}
ul.link-item-blog > li > a:hover {
    color: #AAA; transition: 0.1s; box-shadow: #111 1px 1px 4px;
}
ul.link-item-blog > li > a:active {
    color: #999; transition: 0.1s; box-shadow: #111 0 0 4px;
}
ul.link-item-blog > li > a > div {
    padding-top: 0; padding-bottom: 0; transition: 0.4s;
}
ul.link-item-blog > li > a > div, ul.link-item-blog > li > a:visited > div {
    padding-left: 20px; padding-right: 20px; 
}
ul.link-item-blog > li > a:hover > div {
    padding-left: 18px; padding-right: 22px;
}
ul.link-item-blog > li > a:active > div {
    padding-left: 20px; padding-right: 20px;
}
ul.link-item-blog > li > a > div > strong, ul.link-item-blog > li > a > div > span {
    vertical-align: baseline;
}
ul.link-item-blog > li > a > div:first-child, ul.link-item-blog > li > a > div:first-child + div {
    background-color: rgba(128, 128, 128, 0.12);
}
ul.link-item-blog > li > a > div:first-child {
    padding-top: 7px; padding-right: 110px; border-width: 1px 0 0 0; border-style: solid none none none; border-top-left-radius: 4px; border-top-right-radius: 4px; line-height: 26px;
}
ul.link-item-blog > li > a > div:first-child, ul.link-item-blog > li > a:visited > div:first-child {
    border-color: rgba(128, 128, 128, 0.04);
}
ul.link-item-blog > li > a:hover > div:first-child {
    border-color: rgba(128, 128, 128, 0.12);
}
ul.link-item-blog > li > a:active > div:first-child {
    border-color: rgba(128, 128, 128, 0.08);
}
ul.link-item-blog > li > a > div:first-child > strong:first-child {
    font-weight: normal; font-size: 18px;
}
ul.link-item-blog > li > a > div:first-child > strong:first-child, ul.link-item-blog > li > a:active > div:first-child > strong:first-child {
    color: #CCC; transition: 0.6s;
}
ul.link-item-blog > li > a:hover > div:first-child > strong:first-child {
    color: #9EF; transition: 0.1s;
}
ul.link-item-blog > li > a:active > div:first-child > strong:first-child {
    color: #8CE; transition: 0.1s;
}
ul.link-item-blog > li > a > div:first-child > span {
    font-weight: normal; font-size: 14px;
}
ul.link-item-blog > li > a > div:first-child > strong + span {
    margin-left: 20px;
}
ul.link-item-blog > li > a > div:first-child + div > img {
    border: 1px solid rgba(128, 128, 128, 0.1); border-radius: 4px; object-fit: cover; position: absolute; transition: 0.4s;
}
ul.link-item-blog > li > a > div:first-child + div > img, ul.link-item-blog > li > a:visited > div:first-child + div > img,
#blog_content > article > main ul.link-item-blog > li > a > div:first-child + div > img,
#blog_content > article > main ul.link-item-blog > li > a:visited > div:first-child + div > img {
    width: 80px; height: 45px; top: 8px; right: 16px;
}
ul.link-item-blog > li > a:hover > div:first-child + div > img
#blog_content > article > main ul.link-item-blog > li > a:hover > div:first-child + div > img {
    width: 88px; height: 50px; top: 6px; right: 12px;
}
ul.link-item-blog > li > a:active > div:first-child + div > img
#blog_content > article > main ul.link-item-blog > li > a:active > div:first-child + div > img {
    width: 84px; height: 48px; top: 7px; right: 14px;
}
ul.link-item-blog > li > a > div:first-child + div {
    font-size: 12px; padding-bottom: 8px; line-height: 20px;
}
ul.link-item-blog > li > a > div + div + div {
    background-color: rgba(128, 128, 128, 0.09); max-height: 72px; line-height: 24px; overflow: hidden;
}
ul.link-item-blog > li > a > div:first-child + div + div > span:first-child {
    display: inline-block; max-height: 72px; line-height: 24px; overflow: hidden; text-overflow: ellipsis;
}
ul.link-item-blog > li > a > div:first-child + div + div {
    padding-top: 7px; border-top: 1px solid rgba(128, 128, 128, 0.1);
}
ul.link-item-blog > li > a > div:last-child {
    padding-bottom: 8px; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;
}
@media screen and (max-width:800px) {
    ul.link-item-blog > li > a > div:first-child > strong:first-child {
        display: block;
    }
    ul.link-item-blog > li > a > div:first-child > strong:first-child + span {
        margin-left: 0;
    }
}

/* Blog */
#blog_content {
    font-weight: normal;
    max-width: 1200px;
    min-height: 600px;
    padding: 20px;
    margin: 20px auto 60px auto;
    position: relative;
    display: grid;
    grid-template-columns: 300px auto;
    gap: 20px;
}
#blog_content > article {
    font-size: 16px;
    max-width: 800px;
    grid-row: 1;
    grid-column: 2;
}
#blog_content > article > h1 {
    color: #BBD;
    font-size: 36px;
    font-weight: lighter;
    font-style: normal;
    line-height: 40px;
    padding: 0;
    margin: 10px 0;
    position: relative;
    float: none;
    cursor: default;
    user-select: text;
}
section ul.link-item-bloglink-tile-compact,
section ul.link-item-bloglink-tile-compact > li,
#blog_content > article > main > ul.link-tile-compact,
#blog_content > article > main > ul.link-tile-compact > li,
#blog_content > article > section > ul.link-tile-compact,
#blog_content > article > section > ul.link-tile-compact > li,
#blog_content > aside > nav > ul,
#blog_content > aside > nav > ul > li {
    font-size: 16px;
    position: relative;
    list-style: none;
}
#blog_content > article > h1 + section.x-part-blog-note {
    color: #808080;
    font-size: 14px;;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: default;
    user-select: none;
}
#blog_content > article > section.x-part-blog-note > div > img,
#blog_content > article > section.x-part-blog-related > p > img {
    max-width: 100%;
    object-position: left top;
}
#blog_content > article > h1 + section.x-part-blog-note > div + div {
    margin-top: 10px;
}
#blog_content > article > h1 + section.x-part-blog-note > div.x-part-blog-subtitle > strong:first-child {
    color: #DDD;
    font-size: 20px;
    font-weight: normal;
}
#blog_content > article > h1 + section.x-part-blog-note > div.x-part-blog-subtitle > strong:first-child:before {
    color: #808080;
    content: "—— ";
    font-weight: normal;
}
#blog_content > article > section > div.x-part-blog-authors > a,
#blog_content > article > section > div.x-part-blog-authors > span {
    line-height: 20px;
    background-color: rgba(128, 128, 128, 0.2);
    padding: 2px 8px;
    margin: 0 2px 0 0;
    border-radius: 12px;
    user-select: text;
}
#blog_content > article > section > div.x-part-blog-authors > span {
    color: #DDD;
}
#blog_content > article > section > div.x-part-blog-authors > time,
#blog_content > article > section > div.x-part-blog-authors > time + span {
    color: #808080;
    line-height: 20px;
    background-color: transparent;
    padding: 2px 0;
    margin: 0 0px 0 16px;
    user-select: none;
}
#blog_content > article > section > div.x-part-blog-authors > strong:first-child {
    color: #808080;
    font-weight: normal;
    line-height: 20px;
    padding: 2px 0;
    margin: 0 20px 0 0;
    user-select: none;
}
#blog_content > article > section.x-part-blog-related > div.x-part-blog-authors {
    margin: 10px 0;
}
#blog_content > article > section.x-part-blog-note > div.x-part-blog-date > time + span {
    margin-left: 16px;
}
#blog_content > article > h1 + section.x-part-blog-note > div.x-part-blog-keywords > a + a::before,
#blog_content > article > h1 + section.x-part-blog-note > div.x-part-blog-keywords > a + span::before,
#blog_content > article > h1 + section.x-part-blog-note > div.x-part-blog-keywords > span + a::before,
#blog_content > article > h1 + section.x-part-blog-note > div.x-part-blog-keywords > span + span::before,
#blog_content > article > section.x-part-blog-related > div.x-part-blog-keywords > a + a::before,
#blog_content > article > section.x-part-blog-related > div.x-part-blog-keywords > a + span::before,
#blog_content > article > section.x-part-blog-related > div.x-part-blog-keywords > span + a::before,
#blog_content > article > section.x-part-blog-related > div.x-part-blog-keywords > span + span::before {
    content: "  ·  ";
    color: #808080;
}
#blog_content > article > section.x-part-blog-related > div.x-part-blog-keywords {
    margin: 10px 0;
}
#blog_content > article > section.x-part-blog-related {
    margin-top: 20px;
    border-width: 1px 0 0 0;
    border-style: solid none none none;
    border-color: #666;
    cursor: default;
    user-select: none;
}
#blog_content > article > section.x-part-blog-related > h2 {
    font-weight: lighter;
}
#blog_content > article > section.x-part-blog-related > p {
    font-size: 14px;
}
#blog_content > article > main {
    overflow-x: hidden;
}
#blog_content > article > main img {
    width: 100%;
    max-width: 660px;
}
#blog_content > article > main > h1 {
    font-size: 32px;
}
#blog_content > article > main > h2 {
    font-size: 28px;
    font-weight: normal;
}
#blog_content > article > main > h3 {
    font-size: 24px;
    font-weight: normal;
}
#blog_content > article > main > h4 {
    font-size: 20px;
}
#blog_content > article > main > h5 {
    font-size: 18px;
}
#blog_content > article > main > h6 {
    font-size: 16px;
}
#blog_content > article > main > blockquote {
    border-left: 2px solid rgba(128, 128, 128, 0.6);
    padding: 0 0 0 18px;
    margin-left: 0;
    margin-right: 0;
}
#blog_content > article > main > table {
    border-collapse: collapse;
    min-width: 80%;
}
#blog_content > article > main table th {
    background-color: #1A1A1A;
}
#blog_content > article > main > table > thead > tr > td,
#blog_content > article > main > table > thead > tr > th,
#blog_content > article > main > table > tbody > tr > td,
#blog_content > article > main > table > tbody > tr > th,
#blog_content > article > main > table > tfoot > tr > td,
#blog_content > article > main > table > tfoot > tr > th,
#blog_content > article > main > table > tr > td,
#blog_content > article > main > table > tr > th {
    border: 1px solid rgba(128, 128, 128, 0.4);
    padding: 3px;
}
#blog_content > article > main > pre,
#blog_content > article > main p > pre,
#blog_content > article > main li > pre,
#blog_content > article > main table th > pre,
#blog_content > article > main table td > pre {
    max-width: 640px;
    background-color: #111;
    padding: 9px;
    border: 1px solid #333;
    border-radius: 4px;
    overflow-x: auto;
    transition: 0.4s;
    scrollbar-color: rgba(128, 128, 128, 0.2) transparent;
}
#blog_content > article > main > pre:hover,
#blog_content > article > main p > pre:hover,
#blog_content > article > main li > pre:hover,
#blog_content > article > main table th > pre:hover,
#blog_content > article > main table td > pre:hover {
    background-color: #090909;
    border-color: #444;
    transition: 0.2s;
}
#blog_content > article > main > pre > code.hljs,
#blog_content > article > main p > pre > code.hljs,
#blog_content > article > main li > pre > code.hljs,
#blog_content > article > main table th > pre > code.hljs,
#blog_content > article > main table td > pre > code.hljs {
    background-color: transparent;
}
#blog_content > article > main > pre:has(> code.hljs),
#blog_content > article > main p > pre:has(> code.hljs),
#blog_content > article > main li > pre:has(> code.hljs),
#blog_content > article > main table th > pre:has(> code.hljs),
#blog_content > article > main table td > pre:has(> code.hljs) {
    padding: 0;
}
#blog_content > article > main p > code,
#blog_content > article > main li > code,
#blog_content > article > main > table td > code,
#blog_content > article > main > table th > code {
    background-color: #111;
    padding: 0 4px;
    border-radius: 4px;
    transition: 0.2s;
}
#blog_content > article > main p > code:hover,
#blog_content > article > main li > code:hover,
#blog_content > article > main > table td > code:hover,
#blog_content > article > main > table th > code:hover {
    background-color: #090909;
}
#blog_content > article > main > div.x-part-blog-notification:first-child {
    min-height: 320px;
}
#blog_content > article > h1 + main.x-part-blog-menu,
#blog_content > article > main + main.x-part-blog-menu {
    margin-top: 40px;
}
#blog_content > article:has(> main.x-part-blog-menu) {
    max-width: none;
    grid-column: 1 / -1;
}
#blog_content > article:has(> main.x-part-blog-menu) + aside,
#blog_content > article:has(> main.x-part-blog-menu) > section.x-part-blog-next,
#blog_content > article:has(> main.x-part-blog-menu) > section.x-part-blog-back {
    display: none;
}
#blog_content > article > section.x-part-blog-next,
#blog_content > article > section.x-part-blog-back {
    margin-top: 40px;
}
#blog_content > article > section.x-part-blog-next > a,
#blog_content > article > section.x-part-blog-next > a:visited,
#blog_content > article > section.x-part-blog-back > a,
#blog_content > article > section.x-part-blog-back > a:visited {
    color: #CCC;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.06);
    padding: 9px;
    margin: 0 10px 0 0;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(128, 128, 128, 0.16) rgba(128, 128, 128, 0.08) rgba(128, 128, 128, 0.08) rgba(128, 128, 128, 0.08);
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    transition: 0.4s;
}
#blog_content > article > section.x-part-blog-next > a:hover,
#blog_content > article > section.x-part-blog-back > a:hover {
    color: #EEE;
    text-decoration: none;
    background-color: rgba(128, 128, 128, 0.2);
    border-color: rgba(128, 128, 128, 0.4) rgba(128, 128, 128, 0.3) rgba(128, 128, 128, 0.3) rgba(128, 128, 128, 0.3);
    box-shadow: #111 1px 1px 4px;
    transition: 0.1s;
}
#blog_content > article > section.x-part-blog-next > a:first-child > span,
#blog_content > article > section.x-part-blog-next > a:last-child > span:last-child,
#blog_content > article > section.x-part-blog-back > a:last-child > span:first-child {
    color: transparent;
}
#blog_content > article > section.x-part-blog-next > a:first-child,
#blog_content > article > section.x-part-blog-next > a:first-child:visited {
    background-image: url(https://cdn.jsdelivr.net/npm/hje@2.2.0/docs/images/ele/left_pos_white.png);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: left 40px center;
    width: 80px;
    padding-left: 9px;
}
#blog_content > article > section.x-part-blog-next > a:last-child,
#blog_content > article > section.x-part-blog-next > a:last-child:visited {
    background-image: url(https://cdn.jsdelivr.net/npm/hje@2.2.0/docs/images/ele/right_pos_white.png);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: right 12px center;
    width: 110px;
    padding-right: 19px;
}
#blog_content > article > section.x-part-blog-back > a:first-child,
#blog_content > article > section.x-part-blog-back > a:first-child:visited {
    background-image: url(https://cdn.jsdelivr.net/npm/hje@2.2.0/docs/images/ele/left_pos_white.png);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: left 12px center;
    width: 110px;
    padding-left: 19px;
}
#blog_content > article > section.x-part-blog-next > a:first-child:hover {
    background-position: left 36px center;
    width: 85px;
    padding-left: 4px;
}
#blog_content > article > section.x-part-blog-next > a:last-child:hover {
    background-position: right 8px center;
    width: 115px;
    padding-right: 14px;
}
#blog_content > article > section.x-part-blog-back > a:first-child:hover {
    background-position: left 8px center;
    width: 115px;
    padding-left: 14px;
}
#blog_content > article > section.x-part-blog-next > a:first-child:active {
    background-position: left 38px center;
    width: 80px;
    padding-left: 9px;
}
#blog_content > article > section.x-part-blog-next > a:last-child:active {
    background-position: right 10px center;
    width: 110px;
    padding-right: 19px;
}
#blog_content > article > section.x-part-blog-back > a:first-child:active {
    background-position: left 10px center;
    width: 110px;
    padding-left: 19px;
}
#blog_content > article > section.x-part-blog-next > a:active,
#blog_content > article > section.x-part-blog-back > a:active {
    color: #9EF;
    background-color: rgba(128, 128, 128, 0.08);
    text-decoration: none;
    border-color: rgba(128, 128, 128, 0.2) rgba(128, 128, 128, 0.2) rgba(128, 128, 128, 0.3) rgba(128, 128, 128, 0.2);
    box-shadow: #111 0 0 4px;
    transition: 0.1s;
}
#blog_content > article > section.x-part-blog-next > a:disabled,
#blog_content > article > section.x-part-blog-back > a:disabled {
    color: #999;
    background-color: rgba(128, 128, 128, 0.01);
    text-decoration: none;
    border-color: rgba(128, 128, 128, 0.04);
    transition: 0.4s;
}
#blog_content > aside {
    margin: 10px 0;
    position: relative;
    grid-row: 1;
    grid-column: 1;
}
#blog_content > aside > nav {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    scrollbar-color: rgba(128, 128, 128, 0.2) transparent;
}
#blog_content > aside > nav > h1,
#blog_content > aside > nav > h2,
#blog_content > aside > nav > ul {
    width: auto;
    padding: 0;
    border: 0 none transparent;
    border-radius: 0;
}
#blog_content > aside > nav > h1 {
    color: #CCC;
    font-size: 20px;
    font-weight: bolder;
    line-height: 40px;
    height: 40px;
    margin: 10px 0;
}
#blog_content > aside > nav > h2 {
    color: #CCC;
    font-size: 16px;
    font-weight: bolder;
    line-height: 30px;
    height: 30px;
    margin: 10px 0;
}
#blog_content > aside > nav > ul {
    margin-bottom: 30px;
}
@media screen and not (max-width:960px) {
    #blog_content > aside > nav > ul > li > a, #blog_content > aside > nav > ul > li > a:visited,
    #blog_content > aside > nav > ul > li.state-sel > a, #blog_content > aside > nav > ul > li.state-sel > a:visited {
        line-height: normal;
        background: transparent;
        padding: 0;
        margin: 0;
        border: 0 none transparent;
    }
    #blog_content > aside > nav > ul > li > a, #blog_content > aside > nav > ul > li > a:visited {
        text-decoration: none;
    }
    #blog_content > aside > nav > ul > li.state-sel > a, #blog_content > aside > nav > ul > li.state-sel > a:visited {
        text-decoration: underline rgba(128, 128, 128, 0.4) dotted;
    }
    #blog_content > aside > nav > ul > li > a:hover, #blog_content > aside > nav > ul > li.state-sel > a:hover {
        text-decoration: underline solid;
        background: transparent;
        box-shadow: none;
    }
    #blog_content > aside > nav > ul > li > a:active, #blog_content > aside > nav > ul > li.state-sel > a:active {
        text-decoration: underline solid;
        background: transparent;
        box-shadow: none;
    }
    #blog_content > aside > nav > ul > li {
        margin: 8px 0;
        position: relative;
    }
    #blog_content > aside > nav > ul > li.grouping-header {
        padding: 0;
    }
    #blog_content > aside > nav > ul > li + li.grouping-header {
        padding-top: 20px;
    }
}
@media screen and (max-width:1030px) {
    #blog_content {
        grid-template-columns: auto 640px;
        gap: 20px;
    }
}
@media screen and (max-width:960px) {
    #blog_content {
        grid-template-columns: 100%;
    }
    #blog_content > article {
        grid-column: 1;
    }
    #blog_content > aside {
        padding: 20px 0 0 0;
        margin: 20px 0 0 0;
        border-top: 1px solid #666;
        grid-row: 2;
    }
    #blog_content > aside > nav {
        position: relative;
        top: auto;
        height: auto;
    }
    #blog_content > aside > nav > ul:first-child {
        display: none;
    }
}
